:root { 
--blue_gray_100:#d9d9d9; 
--black_900:#000000; 
--teal_200_cc:#7be2c3cc; 
--teal_700:#037e6f; 
--blue_gray_600:#358279; 
--blue_gray_600_01:#3d7095; 
--blue_100:#c0e2fb; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--teal_200:#83d7cd; 
--gray_100:#f5f5f5; 
}